{__NOLAYOUT__}
{include file="common/layerheader"/}
<div class="container">

    <div class="row-fluid">
        <fieldset class="default padd10">
            <legend>添加/编辑部门</legend>
            <form class="form-horizontal mt10" action="{:url('Sysdepart/add')}" method="post" id="postform">
                {notempty name="info"}
                <input type="hidden" name="id" value="{$info.id}"/>
                {/notempty}
                <div class="mb10">
                    <span class="b">公司：</span>
                    <select name="cpid">
                        <option value="">-请选择-</option>
                        {foreach name="company" item="cpy"}
                        <option value="{$cpy.id}"{if $info&&$info['cpid']==$cpy.id} selected{/if}>{$cpy.name}</option>
                        {/foreach}
                    </select>

                </div>
                <div class="mb10">
                    <span class="b">名称：</span>
                    <input type="text" name="name" value="{if $info}{$info.name}{/if}" placeholder="部门名称"/>
                </div>
                <div id="page-mesg"></div>
                <div class="form-actions">
                    <input type="button" class="btn btn-primary" value="确定保存" id="savedata"/>
                    <a href="javascript:;" class="btn" onclick="closePlayer();">取消</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{include file="common/layerfooter"/}