<div class="copyright">
    <p>&copy; {:date('Y')} {:config('company.full_name')}</p>
</div>
<div class="scroll-top">
    <a href="javascript:;" class="tip-top" title="Go Top"><i class="icon-double-angle-up"></i></a>
</div>
</div>
<!--============ javascript ===========-->
<script src="/static/bootstrap/js/jquery.js"></script>
<script src="/static/bootstrap/js/jquery-ui-1.10.1.custom.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/jquery.metadata.js"></script>
<script src="/static/bootstrap/js/jquery.tagsinput.js"></script>
<script src="/static/bootstrap/js/jquery.tablesorter.min.js"></script>
<script src="/static/bootstrap/js/jquery.tablecloth.js"></script>
<script src="/static/bootstrap/js/jquery.collapsible.js"></script>
<!--<script src="/static/bootstrap/js/accordion.nav.js"></script>-->
<script src="/static/bootstrap/js/chosen.jquery.js"></script>
<script src="/static/bootstrap/js/jquery.gritter.js"></script>
<script src="/static/bootstrap/js/tiny_mce/jquery.tinymce.js"></script>
<script src="/static/bootstrap/js/custom.js?201809"></script>
<script src="/static/bootstrap/js/respond.min.js"></script>
<script src="/static/plugin/nlayer/layer.min.js"></script>
{include file="common/footjs" /}
</body>
</html>