<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">文章列表</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <a href="{:url('Article/artadd')}" class="btn btn-primary pull-right"><i class="icon-plus"></i>添加新文章</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <form class="form-horizontal">
                <fieldset class="default span10">
                    <legend>筛选</legend>
                    <div class="mb10 mt10"><span class="b">分类：</span>
                        {$flink}</div>
                </fieldset>
            </form>
        </div>

        <div class="row-fluid"><form class="form-horizontal">

            <div class="controls ml0"><form class="form-horizontal">
                <div class="input-append"><span class="add-on">搜索查询</span>
                    <select name="sok" class="input select34 span3">{$fselect}</select>
                    <input type="text" name="sov" class="input" value="{$sov}" placeholder="搜索的内容"/>
                    <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                    {if $is_so}
                    <a href="./" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                    {/if}
                </div></form>
            </div>
        </form>

        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>序号</th>
                <th>标题</th>
                <th>分类</th>
                <th>阅读量</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {empty name="data"}
            <tr><td colspan="8">木有找到相关的信息</td></tr>
            {else/}
            {volist name="data" id="da"}
            <tr>
                <td>{$da.id}</td>
                <td><a href="{$h5_base_url}DetailsPage.html?id={$da.id}" target="_blank">{$da.title}</a>
                    {if $da.isrecmd>0}
                    <span class="label label-important">推</span>
                    {/if}
                </td>
                <td>{if isset($cates[$da.acid])}{$cates[$da.acid]}{else /}--{/if}</td>
                <td>{$da.view_num}</td>
                <td>{$da.addtime}</td>
                <td>{$astatus[$da.status]}</td>
                <td>
                    <a href="{:url('Article/artedit',['id'=>$da.id])}" class="btn mini"><i class="icon-edit"></i>编辑</a>
                    {if $da.isrecmd==0}
                    <a href="javascript:;" data-url="{:url('Recommend/add')}?stable=articles&sid={$da.id}" class="btn mini openlayerwin"><i class="icon-hand-right"></i>轮播</a>
                    {else/}
                    <a href="{:url('Recommend/index')}?id={$da.reid}"  class="btn mini" target="_blank">查看轮播</a>
                    {/if}
                    <a href="{:url('Article/push_list')}?nid={$da.id}"  class="btn mini"><i class="icon-bullhorn"></i> 推送</a>
                    <a href="javascript:;" data-href="{:url('Article/artdel',['id'=>$da.id])}" class="btn mini" onclick="deldata(this);"><i class="icon-trash"></i>删除</a>
                </td>
            </tr>
            {/volist}
            {/empty}
            </tbody>
        </table>

        {if $pagenav}
        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info">{$pagenav.txt}</div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul>{$pagenav.links}</ul></div></div>
        </div>
        {/if}
    </div>
</div>