<div class="main-wrapper">
    <div class="container-fluid">

        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">采购信息</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>采购信息</th>
                <td><input type="text" id="name" value="{if $info}{$info.name}{/if}"/> </td>
            </tr>
            <tr>
                <th>备注说明</th>
                <td>
                    <textarea class="span8" id="remark" rows="4" maxlength="200" placeholder="备注说明，200字内">{if $info}{$info.remark}{/if}</textarea>
                </td>
            </tr>
            <tr>
                <th>报告文档</th>
                <td class="up_box">

                    {notempty name="info.docs"}
                    {foreach name="info.docs" item="dc"}
                    <div class="docli">
                        {if in_array($dc.file_type,$img_ext)}

                        <p><a href="{:quimg($dc.file_path,'')}" target="_blank"><img src="{:quimg($dc.file_path,'')}" style="height: 200px;"/></a></p>
                        <p>{$dc.file_name} </p>
                        {else /}
                        <div class="docli">
                            <h4><i class="icon-file-alt"></i> <a href="{:quimg($dc.file_path,'')}" target="_blank">{$dc.file_name}</a> </h4>

                            {/if}
                            <a href="javascript:;" class="text-error del_mcfile" data-type="3" data-id="{$dc.id}"><i class="icon-trash"></i> 删除</a>
                            <hr/>
                        </div>
                        {/foreach}
                        {/notempty}


                        <div class="mcdoc_upload_box">
                            <input type="file" class="select" multiple="multiple"/>

                            <div class="mcdoc_ppress">
                                <div class="mcdoc_press">0%</div>
                            </div>
                        </div>



                    </div>

                    <!--<a href="javascript:;" id="add_more_ups" class="btn btn-primary mini"><i class="icon-plus-sign"></i> 再上传一个</a>-->
                    <p class="text-error">请上传需甲方确认的采购方案文件（EXCEL、WORD、PDF）</p>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="subbtn">保存资料</button>
            <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
        </div>

    </div>
</div>
<script type="text/javascript">
    var uptoken = '{$uptoken}',
        pid = {$id},
        qu_host = "{:config('qiniu.host')}";
</script>