<div class="main-wrapper">
    <div class="container-fluid">

        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">[{$p_info.name}]{$doc_type[$type]}</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <input type="hidden" id="type" value="{$type}"/>
            <tr>
                <th>名称</th>
                <td><input type="text" id="name" value="{if $info}{$info.name}{/if}"/> </td>
            </tr>
            <tr>
                <th>备注说明</th>
                <td>
                    <textarea class="span8" id="remark" rows="4" maxlength="200" placeholder="备注说明，200字内">{if $info}{$info.remark}{/if}</textarea>
                </td>
            </tr>

            <tr>
                <th>方案文档</th>
                <td class="up_box">

                    {notempty name="info.docs"}
                    {foreach name="info.docs" item="dc"}
                    {if in_array($dc.file_type,$img_ext)}
                    <p><a href="{$qn_host}{$dc.file_path}" target="_blank"><img src="{$qn_host}{$dc.file_path}" style="height: 200px;"/></a></p>
                    <p>{$dc.file_name} </p>
                    {else /}
                    <h4><i class="icon-file-alt"></i> <a href="{$qn_host}{$dc.file_path}" target="_blank">{$dc.file_name}</a> </h4>
                    {/if}

                    <hr/>
                    {/foreach}
                    {/notempty}


                    <div class="mcdoc_upload_box">
                        <input type="file" class="select"/>

                        <div class="mcdoc_ppress">
                            <div class="mcdoc_press">0%</div>
                        </div>
                    </div>

                    <a href="javascript:;" id="add_more_ups" class="btn btn-primary mini"><i class="icon-plus-sign"></i> 再上传一个</a>
                    <p class="text-error">{$upload_alert[$type]}</p>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary" id="subbtn">保存资料</button>
            <a href="javascript:history.back();" class="btn"><i class="icon-reply"></i> 取消</a>
        </div>

    </div>
</div>
<script type="text/javascript">
    var uptoken = '{$uptoken}',
        pid = {$id},
        qu_host = "{:config('qiniu.host')}";
</script>