<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span6"><h3 class="page-header">[{$p_info.name}]项目展示内容列表</h3></div>
                    <div class="span6">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                        <!--<a href="{:url('Projectstatic/add',['p_id'=>$p_info.id])}" class="btn btn-primary pull-right"><i class="icon-plus"></i>添加新内容</a>-->
                    </div>
                </div>
            </div>
        </div>

        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>名称</th>
                <th>操作</th>
            </tr>
            {empty name="data"}
            <tr><td colspan="2">没有找到相关数据</td></tr>
            {else /}
            {foreach name="data" item="da" key="dk"}
            <tr><td colspan="2"><h4>{$da.name}</h4>
                <a href="{:url('Projectstatic/add',['p_id'=>$p_info.id])}?type={$dk}" class="btn mini btn-primary"><i class="icon-plus-sign"></i>添加展示内容</a>
                {if $da.id>0}
                <a href="{:url('Pusher/add')}?p_id={$p_info.id}&type=7&type_id={$da.id}" class="btn mini"><i class="icon-bell-alt"></i> 提醒设置</a>
                {/if}

            </td></tr>
            {notempty name="da.list"}
            {foreach name="da.list" item="sda"}
            <tr>
                <td>{if in_array($sda.file_type,$img_ext)}
                    <img src="{$sda.file_url}" style="height: 80px"/>
                    {/if}
                    <a href="{$sda.file_url}" target="_blank"> {$sda.file_name}</a>
                </td>
                <td>

                    <!--<a href="{:url('Projectstatic/edit',['id'=>$sda.id,'p_id'=>$sda.p_id])}" class="btn mini"><i class="icon-edit"></i>编辑</a>-->
                    <a  href="javascript:;" data-href="{:url('Projectstatic/del',['id'=>$sda.id])}" class="btn mini" onclick="deldata(this);"><i class="icon-trash"></i>删除</a>
                </td>
            </tr>
            {/foreach}

            {else /}
            <tr><td colspan="2">
                无
            </td></tr>

            {/notempty}
            {/foreach}
            {/empty}
            </tbody>
        </table>
    </div>
</div>
