<div class="main-wrapper">
    <div class="container-fluid">
        <div class="row-fluid ">
            <div class="span12">
                <div class="primary-head">

                    <div class="span3"><h3 class="page-header">{if $team_id>0}[{$teams[$team_id]}]成员{else /}后台用户列表{/if}</h3></div>
                    <div class="span9">
                        <a href="javascript:history.back();" class="btn pull-right"><i class="icon-reply"></i> 返回</a>
                    </div>
                </div>
            </div>
        </div>
        {if $team_id==0}
        <div class="row-fluid">
            <form class="form-horizontal">
                <fieldset class="default span10">
                    <legend>筛选</legend>
                    <div class="mb10 mt10"><span class="b">部门：</span>
                        {$flink}</div>
                </fieldset>
            </form>
        </div>

        <div class="row-fluid"><form class="form-horizontal">

            <div class="controls ml0"><form class="form-horizontal">
                <div class="input-append"><span class="add-on">搜索查询</span>
                    <select name="sok" class="input select34 span3">{$fselect}</select>
                    <input type="text" name="sov" class="input" value="{$sov}" placeholder="搜索的内容"/>
                    <button class="btn btn-success"><i class="icon-search"></i> 搜索</button>
                    {if $is_so}
                    <a href="./" class="btn btn-warning"><i class="icon-trash"></i> 清空搜索</a>
                    {/if}
                </div></form>
            </div>
        </form>

        </div>
        {/if}
        <table class="stat-table responsive table table-stats table-striped table-bordered">
            <tbody>
            <tr>
                <th>头像</th>
                <th>帐号</th>
                <th>姓名</th>
                <th>手机号码</th>
                <th>部门/岗位</th>
                <th>团队</th>

                <th>后台登录/角色</th>
                <th>B端登录</th>
                <th style="width:100px;">负责的项目</th>
                <th>最近登录时间</th>
                <th>操作</th>
            </tr>
            {empty name="data"}
            <tr><td colspan="10">木有找到相关的信息</td></tr>
            {else/}
                {volist name="data" id="da"}
            <tr>
                <td>{if $da.head_pic}<img src="{:c_img($da.head_pic,3,120)}" style="width: 80px;"/>
                    {else /}
                    <i class="icon-user" style="font-size: 50px;"></i>
                    {/if}
                </td>
                <td>{$da.log}</td>
                <td>{$da.name}</td>
                <td>{$da.mobile}</td>
                <td>{$da.department}<br/>{$da.post}{$user_stat[$da['is_work']]}</td>
                <td>{if $da.team_id>0}
                    {$teams[$da.team_id]}
                    {else /}无{/if}</td>

                <td>{$log_stat[$da['status']]}<br/>{$da.role}</td>
                <td>{if $da['allow_lg_b']==1}<label class="label label-success">允许登录</label> {else /}禁止{/if}

                    <br/>{$b_powers[$da['b_power_tag']]}</td>
                <td><div style="max-height: 180px;max-width: 100px;overflow: scroll;">
                    {empty name="da.projects"}无
                    {else/}
                    {foreach name="da.projects" item="prot"}
                    <p style="white-space: nowrap;"><a href="{:url('project/info',['id'=>$prot.id])}" target="_blank">{$prot.name}</a> </p>
                    {/foreach}
                    {/empty}</div>
                </td>
                <td>{if $da.lgtime>0}{$da.lgtime|date="Y-m-d H:i",###}{/if}</td>
                <td>
                    <a href="{:url('Sysuser/edit',array('id'=>$da['id']))}" class="btn mini"><i class="icon-info-sign"></i>资料详情</a>
                    <a href="{:url('Sysuser/changepwd',array('id'=>$da['id']))}" class="btn mini"><i class="icon-edit"></i>修改密码</a>
                    {if $da['status']==0}
                    <a href="{:url('Sysuser/lgcontrl',array('id'=>$da['id'],'v'=>1))}" class="btn mini"><i class="icon-ok-sign"></i>允许登录</a>
                    {else/}
                    <a href="{:url('Sysuser/lgcontrl',array('id'=>$da['id'],'v'=>0))}" class="btn mini"><i class="icon-minus-sign"></i>禁止登录</a>
                    {/if}
                    <a href="javascript:;" data-href="{:url('Sysuser/del',array('id'=>$da['id']))}" class="btn mini" onclick="deldata(this);"><i class="icon-trash"></i>删除</a>

                </td>
            </tr>
                {/volist}
            {/empty}
            </tbody>

        </table>
        {if $pagenav}
        <div class="row-fluid">
            <div class="span6"><div class="dataTables_info">{$pagenav.txt}</div></div>
            <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination"><ul>{$pagenav.links}</ul></div></div>
        </div>
        {/if}
    </div>
</div>
