{__NOLAYOUT__}
<!-- 左侧菜单 begin-->
<div class="leftbar leftbar-close clearfix">
    <div class="admin-info clearfix">
        <div class="admin-thumb">
            <i class="icon-user"></i>
        </div>
        <div class="admin-meta">
            <ul>
                <li class="admin-username">{$Think.session.name}</li><li>&nbsp;</li>
                <li><a href="{:url('Sysuser/edit',array('id'=>$Think.session.user_id))}"><i class="icon-info-sign"></i>我的资料 </a><a href="{:url('Lgn/lgnout')}"><i class="icon-lock"></i>安全退出</a></li>
            </ul>
        </div>
    </div>
    <div class="left-nav clearfix">
        <div class="left-primary-nav">
            <ul id="mc-left-menu">
                {notempty name="nodes"}
                {foreach name="nodes" item="nd"}
                <li {if strtolower($nd['name'])==$contr } class="active"{/if} >
                    <a class="{$nd['icon']} lv1" href="{:url($nd['name'].'/'.$nd.sub[0]['name'])}"> {$nd['title']} {notempty name="nd.sub"}<i class="{if strtolower($nd['name'])==$contr } icon-chevron-down{else/}icon-chevron-up{/if} "></i> {/notempty}</a>
                    {notempty name="nd.sub"}
                    <ul class="accordion-nav"{if strtolower($nd['name'])!=$contr} style="display:none;"{/if}>
                        {foreach name="nd.sub" item="nv2"}
                        <li{if strtolower($nd['name'])==$contr&&strtolower($nv2['name'])==$act} class="active"{/if}>
                        <a href="{:url($nd['name'].'/'.$nv2['name'])}"> {$nv2['title']}</a></li>
                        {notempty name="nv2.sub"}
                            {foreach name="nv2.sub" item="nv3"}
                <li{if strtolower($nd['name'])==$contr&&strtolower($nv3['name'])==$act} class="active"{/if}><a href="{:url($nd['name'].'/'.$nv3['name'])}"> {$nv3['title']}</a></li>
                            {/foreach}
                        {/notempty}
                        {/foreach}
                    </ul>
                    {/notempty}
                </li>
                {/foreach}
                {/notempty}
            </ul>

        </div>
        <!--窄屏菜单显示控制按钮-->
        <div class="responsive-leftbar">
            <i class="icon-list"></i>
        </div>
    </div>
</div><!-- 左侧菜单 end-->
