{__NOLAYOUT__}
<!-- 左侧菜单 begin-->
<div class="leftbar leftbar-close clearfix">
    <div class="admin-info clearfix">
        <div class="admin-thumb">
            <i class="icon-user"></i>
        </div>
        <div class="admin-meta">
            <ul>
                <li class="admin-username">{$Think.session.name}</li><li>&nbsp;</li>
                <li><a href="{:url('Sysuser/edit',array('id'=>$Think.session.user_id))}"><i class="icon-info-sign"></i>我的资料 </a><a href="{:url('Lgn/lgnout')}"><i class="icon-lock"></i>安全退出</a></li>
            </ul>
        </div>
    </div>
    <div class="left-nav clearfix">
        <div class="left-primary-nav">

            <!--有子菜单的一级菜单-->
            <ul id="myTab">
                {notempty name="nodes"}
                {volist name="nodes" id="nd"}
                <li {if strtolower($nd['name'])==$contr } class="active"{/if}><a href="#{$nd['name']}{$nd['id']}" class="{$nd['icon']}" title="{$nd['title']}"></a></li>
                {/volist}
                {/notempty}
            </ul>
        </div>
        <!--窄屏菜单显示控制按钮-->
        <div class="responsive-leftbar">
            <i class="icon-list"></i>
        </div>
        <div class="left-secondary-nav tab-content">
            <div class="tab-pane" id="index0">
                <h4 class="side-head">后台首页</h4>
            </div>
            {notempty name="nodes"}
                {volist name="nodes" id="nv"}
                    <div class="tab-pane{if strtolower($nv['name'])==$contr} active{/if}" id="{$nv['name']}{$nv['id']}">
                        <h4 class="side-head">{$nv['title']}</h4>
                        <ul class="accordion-nav">
                            {notempty name="nv.sub"}
                                {volist name="nv['sub']" id="nv2"}
                                    <li{if strtolower($nv2['name'])==$act} class="active"'{/if}><a href="{:url($nv['name'].'/'.$nv2['name'])}"><i class="icon-file"></i> {$nv2['title']}</a></li>

                            {notempty name="nv2.sub"}
                            {volist name="nv2['sub']" id="nv3"}
                            <li{if strtolower($nv3['name'])==$act} class="active"'{/if}><a href="{:url($nv['name'].'/'.$nv3['name'])}"><i class="icon-file"></i> {$nv3['title']}</a></li>
                            {/volist}
                            {/notempty}
                                {/volist}
                            {/notempty}
                        </ul>
                    </div>
                {/volist}
            {/notempty}


        </div>
    </div>
</div><!-- 左侧菜单 end-->
